@model Product
@{ ViewData["Title"] = "Details";

    }
@section CSS{
    <link rel="stylesheet" href="~/assets/homeowlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/homeowlcarousel/owl.theme.default.min.css">
}

<section id="details">
    <div class="container">
        <div class="row">
            <div class="images col-lg-6 col-md-6">
                <div class="row detailsRowBigImage">
                    <div class="bigImage">
                        <img src="~/assets/images/@Model.ProductImages.FirstOrDefault().Image"
                             alt="">
                    </div>
                </div>
                <div class="row detailsRowSmallImage">
                    <div class="smallImages">
                        @foreach (var img in Model.ProductImages)
                        {
                            <div class="image img1">
                                <img src="~/assets/images/@img.Image"
                                     alt="">
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="info col-lg-6 col-md-6">
                <div class="row titleRow">
                    <div class="title">
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="row priceRow">
                    <ul>
                        <li>
                            <span class="price">$ @Model.Price</span>
                        </li>
                        @if (Model.InStock)
                        {
                            <li><span class="in-outStock">In Stock</span></li>
                        }
                        else
                        {
                            <li><span class="in-outStock">Out Of Stock</span></li>
                        }
                    </ul>
                </div>
                <div class="row reviewRow">
                    <a href="" class="reviews">
                        <span class="reviewIcons">
                            <span class="fa-regular fa-star"></span>
                            <span class="fa-regular fa-star"></span>
                            <span class="fa-regular fa-star"></span>
                            <span class="fa-regular fa-star"></span>
                            <span class="fa-regular fa-star"></span>
                        </span>
                        <span class="reviewText">No rewievs</span>
                    </a>
                </div>
                <div class="row descRow">
                    <p>
                      @Model.Description.Substring(0,190)...
                    </p>
                </div>
                <div class="row colorRow">
                    <p class="colorVal">COLOR: <span>@Model.ProductColors.FirstOrDefault().Color.Name</span></p>
                    <ul class="color">

                        @foreach (var color in Model.ProductColors)
                        {
                             <li id="firstColorLi" class="colorLi isSelectedColor" data-value="@color.Color.Name">
                                <a style="background-color: @color.Color.Value;" href=""></a>
                             </li>
                        }
                    </ul>
                </div>
                <div class="row sizeRow">
                    <p class="sizeVal">SIZE: <span>@Model.ProductSizes.FirstOrDefault().Size.Value</span></p>
                    <ul class="size">
                        @foreach (var size in Model.ProductSizes)
                        {
                            <li id="firstSizeLi" class="sizeLi isSelectedSize" data-value="@size.Size.Value"><span>@size.Size.Value</span></li>
                        }

                    </ul>
                </div>
                <div class="row addToCardRow">
                    <div class="counter col-lg-2 col-md-3 col-sm-6 col-xs-2">
                        <button class="minus"><i class="fa-solid fa-minus"></i></button>
                        <input id="productCounter" value="1" type="text">
                        <button class="plus"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="whishList col-lg-2 col-md-3 col-sm-6 col-xs-2">
                        <a href="">
                            <i class="bi bi-heart whishListIcon"></i>
                        </a>
                    </div>
                    <button class="addCard col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        ADD TO CARD
                    </button>
                </div>
                <div class="row buyItRow col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <button>
                        BUY IT NOW
                    </button>
                </div>
                <div class="row categoryRow">
                    <span class="name">Brand:<span class="content">@Model.Brand.Name</span></span>
                    <span class="name">Category:<span class="content">@foreach (var item in Model.ProductCategories)
                    {
                        @item.Category.Name <span>  </span>
                    }</span></span>
                    <span class="name">Tag:<span class="content">@Model.Tag.Name</span></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="container">
        <div class="row descRow">
            <ul>
                <li class="descriptionName">
                    <span class="tabName tabActive" data-id="descriptionTab">Description</span>
                </li>
                <li class="comments">
                    <span class="tabName" data-id="commentsTab">Comments</span>
                </li>
            </ul>
        </div>
        <div class="row descContentRow tab" id="descriptionTab">
            <div class="descContent">
                <span>DESCRIPTION</span>
                <p>
                    @Model.Description
                </p>
            </div>
            <div class="row descImage">
                @foreach (var item in Model.ProductImages.Take(3))
                {
                    <img class="col-lg-4 col-md-12"
                         src="~/assets/images/@item.Image"
                         alt="">
                }


            </div>
        </div>
        <div class="row detailsTitleRow tab d-none" id="commentsTab">
            <span class="customerReviewText">Customer Comments</span>
            <div class="title">
                <div class="star-review">
                    <span class="noReview  d-none">
                        No comments yet
                    </span>
                    <span class="starIcons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="basedOn">
                        Based on 1 comment
                    </span>
                </div>
                <a href="#" id="writeComment">Write a comment</a>
            </div>
            <div class="row writeCommentRow">
                <hr>
                <p class="writeCmmnt">
                    Write a comment
                </p>
                <form action="">
                    <label class="nameLbl" for="name">Name</label><br>
                    <input class="name-mail" type="text" id="name" placeholder="Enter your name"><br><br>
                    <label class="mailLbl" for="mail">Email</label><br>
                    <input class="name-mail" type="email" id="mail" placeholder="jamalaz@code.edu.az"><br><br>
                    <label class="rating">
                        Rating
                    </label><br>
                    <div class="starRating">
                        <input name="star" class="" value="1" data-value="1" type="radio" id="rating1">
                        <label for="rating1" class="fa-regular fa-star myStar"></label>
                        <input name="star" value="2" data-value="2" type="radio" id="rating2">
                        <label for="rating2" class="fa-regular fa-star myStar"></label>
                        <input name="star" value="3" data-value="3" type="radio" id="rating3">
                        <label for="rating3" class="fa-regular fa-star myStar"></label>
                        <input name="star" value="4" data-value="4" type="radio" id="rating4">
                        <label for="rating4" class="fa-regular fa-star myStar"></label>
                        <input name="star" value="5" data-value="5" type="radio" id="rating5">
                        <label for="rating5" class="fa-regular fa-star myStar"></label>
                    </div>
                    <label class="txtAreaLbl" for="comment">Body of comment</label><br>
                    <textarea class="txtArea" name="" id="comment" cols="150" rows="8"
                              placeholder="Write your comment here"></textarea>
                    <button class="commentFormSubmit" type="submit">Submit Comment</button>
                </form>
            </div>
            <div class="row commentsRow">
                <div class="comment">
                    <hr>
                    <div class="commentIcons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name-date">
                        <span>
                            <span class="name">Camal</span> on <span class="date">Mar 17,2022</span>
                        </span>
                    </div>
                    <div class="commentContent">
                        <p>
                            Salam Dostlar Necesiz
                        </p>
                    </div>
                </div>
                <div class="comment">
                    <hr>
                    <div class="commentIcons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name-date">
                        <span>
                            <span class="name">Camal</span> on <span class="date">Mar 17,2022</span>
                        </span>
                    </div>
                    <div class="commentContent">
                        <p>
                            Salam Dostlar Necesiz
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="relatedProducts">
    <div class="container">
        <div class="row">
            <span class="relatedTitle">You may also like</span>
        </div>
        <div class="row">
            <div class="related owl-carousel owl-theme">
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="recentlyViewed">
    <div class="container">
        <div class="row">
            <span class="recentlyTitle">Recently Viewed</span>
        </div>
        <div class="row">
            <div class="recently owl-carousel owl-theme">
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
                <div class="smallImage">
                    <div class="image">
                        <a class="mainImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                 alt="">
                            <div class="icons">
                                <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                                <a href="" class="view"><i class="bi bi-eye"></i></a>
                            </div>

                        </a>
                        <a class="secondImage" href="">
                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                 alt="">
                        </a>
                        <div class="addToCard">
                            <div class="increase-number-decrease">
                                <a class="minus" href="">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <span id="inputNumber">1</span>
                                <a class="plus" href="">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <a href="" class="toCard">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                        <div class="price">£270.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/homeowlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/Js/details.js"></script>
}
