@model List<Product>
@foreach (var product in Model)
{
<div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="image">
        <a asp-controller="products" asp-action="details" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId" class="mainImage">
            <img src="~/assets/images/@product.ProductImages.FirstOrDefault().Image"
                 alt="">
            <div class="icons">
                <a asp-controller="products" asp-action="AddWhishlist" asp-route-id="@product.Id" class="whishlist whishlistFetch"><i class="fa-regular fa-heart"></i></a>
            </div>
        </a>
        <a style="cursor:pointer;" asp-controller="products" asp-action="details" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId" class="secondImage">
            <img src="~/assets/images/@product.ProductImages.Skip(1).FirstOrDefault().Image"
                 alt="">
        </a>
        <div class="addToCard">
            <a asp-controller="products" asp-action="details" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId" class="toCard modalShowerAddToCard">QUICK SHOP</a>
        </div>
    </div>
    <div class="name-price">
        <div class="name"><a asp-controller="products" asp-action="details" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId">@product.Name</a></div>
        @if (product.CampaignId == null)
        {
            <div class="price">$ @product.Price</div>
        }
        else
        {
            <div class="price"> <del>$@product.Price</del> $@Math.Round((product.Price * (100 - product.Campaign.DiscountPercent) / 100), 2)</div>
        }

    </div>
    <div class="bg-modal d-none">
        <div class="productModal animate__animated d-none">
            <div class="image-name-price">
                <div class="modalImage">
                    <img src="~/assets/images/@product.ProductImages.FirstOrDefault().Image" alt="">
                </div>
                <div class="modalname-price">
                    <div class="modalName">
                        <a href="">@product.Name</a>
                    </div>
                    @if (product.CampaignId == null)
                    {
                        <div class="modalPrice">
                            $@product.Price
                        </div>
                    }
                    else
                    {
                <div class="modalPrice">
                    <del>$@product.Price</del> $@Math.Round((product.Price * (100 - product.Campaign.DiscountPercent) / 100), 2)
                </div>
                    }

                </div>

            </div>
            <div class="modalcolor-text">
                <div class="modalText">
                    <span class="modalColorVal">Color : <span class="modalColorBasketFetch">@Model.FirstOrDefault().ProductColors.FirstOrDefault().Color.Name</span> </span>
                </div>
                <div class="modalColor">
                    <ul class="modalColorUl">
                        @foreach (var color in product.ProductColors)
                        {
                        <li class="modalColorLi" data-value="@color.Color.Name">
                            <a style="background-color: @color.Color.Value;" href=""></a>
                        </li>

                        }
                    </ul>
                </div>
            </div>
            <div class="modalsize-text">
                <div class="modalText">
                    <span class="modalSizeVal">Size: <span class="modalSizeBasketFetch">@Model.FirstOrDefault().ProductSizes.FirstOrDefault().Size.Value</span> </span>
                </div>
                <div class="modalSize">
                    <ul class="modalSizeUl">
                        @foreach (var size in product.ProductSizes.OrderBy(ps=>ps.Size.Value))
                        {
                            <li class="modalSizeLi" data-value="@size.Size.Value"><span>@size.Size.Value</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="modalcounter-button">
                <div class="modalCounter">
                    <button class="modalMinus"><i class="fa-solid fa-minus"></i></button>
                    <span class="modalProductCounter modalCountBasketFetch">1</span>
                    <button class="modalPlus"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="modalButton">
                    <a style="text-decoration:none;" asp-controller="products" asp-action="AddBasket" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId" class="modalAddCard col-lg-4 col-md-12 col-sm-12 col-xs-12 fetchAddToCardModal">
                        ADD TO CARD
                    </a>
                </div>
            </div>
            <div class="modalViewFullDetails">
                <a  asp-controller="products" asp-action="details" asp-route-id="@product.Id" asp-route-categoryId="@product.ProductCategories.FirstOrDefault().CategoryId">View full details <i class="las la-long-arrow-alt-right"></i></a>
            </div>
            <div class="modalClose">
                <i class="las la-times"></i>
            </div>
        </div>
    </div>
</div>
}


