@inject FinalProjectBack_Front.Services.LayoutServices layoutService
@{
    WhishlistVM whishlist = await layoutService.GetWhishlist();
}
@if (whishlist.WhishlistItems.Count == 0)
{
    <section id="whishlistEmpty">
        <div class="container whishlistContainer">
            <div class="row whishListEmptyRow">
                <div class="whishlistInfo">
                    <p class="whishlistHeartIcon">
                        <i class="bi bi-heart"></i>
                    </p>
                    <p class="whishlistStatus">
                        WHISHLIST IS EMPTY
                    </p>
                    <p class="whishlistDesc">
                        You don't have any products in the wishlist yet. <br>
                        You will find a lot of interesting products on our "Shop" page.
                    </p>
                    <div class="returnToShop">
                        <a class="returnToShopBtn" asp-controller="products" asp-action="index">RETURN TO SHOP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else 
{
    @foreach (var product in whishlist.WhishlistItems)
    {
<div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="image">
        <a  class="mainImage">
            <img src="~/assets/images/@product.Product.ProductImages.FirstOrDefault().Image"
                 alt="">
            <div class="icons">
                <a asp-controller="products" asp-action="DeleteWhishListItem" asp-route-id="@product.Product.Id" class="bi bi-trash removeWhishlistItem whishlist"></a>
            </div>

        </a>
        <a class="secondImage">
            <img src="~/assets/images/@product.Product.ProductImages.Skip(1).FirstOrDefault().Image"
                 alt="">
        </a>
        <div class="addToCard">
            <a asp-controller="products" asp-action="addbasket" asp-route-id="@product.Product.Id" asp-route-categoryId="@product.Product.ProductCategories.FirstOrDefault().CategoryId" class="toCard modalShowerAddToCard">QUICK SHOP</a>
        </div>
    </div>
    <div class="name-price">
        <div class="name"><a asp-controller="products" asp-action="details" asp-route-id="@product.Product.Id" asp-route-categoryId="@product.Product.ProductCategories.FirstOrDefault().CategoryId">@product.Product.Name</a></div>
        @if (product.Product.CampaignId == null)
        {
            <div class="price">$ @product.Product.Price</div>
        }
        else
        {
            <div class="price"> <del>$@product.Product.Price</del> $@Math.Round((product.Product.Price * (100 - product.Product.Campaign.DiscountPercent) / 100), 2)</div>
        }
    </div>
    <div class="bg-modal d-none">
        <div class="productModal animate__animated d-none">
            <div class="image-name-price">
                <div class="modalImage">
                    <img src="~/assets/images/@product.Product.ProductImages.FirstOrDefault().Image" alt="">
                </div>
                <div class="modalname-price">
                    <div class="modalName">
                        <a href="">@product.Product.Name</a>
                    </div>
                    @if (product.Product.CampaignId == null)
                    {
                        <div class="modalPrice">
                            $@product.Product.Price
                        </div>
                    }
                    else
                    {
                        <div class="modalPrice">
                            <del>$@product.Product.Price</del> $@Math.Round((product.Product.Price * (100 - product.Product.Campaign.DiscountPercent) / 100), 2)
                        </div>
                    }

                </div>

            </div>
            <div class="modalcolor-text">
                <div class="modalText">
                    <span class="modalColorVal">Color : <span class="modalColorBasketFetch">@whishlist.WhishlistItems.FirstOrDefault().Product.ProductColors.FirstOrDefault().Color.Name</span> </span>
                </div>
                <div class="modalColor">
                    <ul class="modalColorUl">
                        @foreach (var color in product.Product.ProductColors)
                        {
                            <li class="modalColorLi" data-value="@color.Color.Name">
                                <a style="background-color: @color.Color.Value;" href=""></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="modalsize-text">
                <div class="modalText">
                    <span class="modalSizeVal">Size: <span class="modalSizeBasketFetch">@whishlist.WhishlistItems.FirstOrDefault().Product.ProductSizes.FirstOrDefault().Size.Value</span> </span>
                </div>
                <div class="modalSize">
                    <ul class="modalSizeUl">
                        @foreach (var size in product.Product.ProductSizes.OrderBy(ps => ps.Size.Value))
                        {
                            <li class="modalSizeLi" data-value="@size.Size.Value"><span>@size.Size.Value</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="modalcounter-button">
                <div class="modalCounter">
                    <button class="modalMinus"><i class="fa-solid fa-minus"></i></button>
                    <span class="modalProductCounter modalCountBasketFetch">1</span>
                    <button class="modalPlus"><i class="fa-solid fa-plus"></i></button>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="modalButton">
                        <a style="text-decoration:none;" asp-controller="products" asp-action="AddBasket" asp-route-id="@product.Product.Id" asp-route-categoryId="@product.Product.ProductCategories.FirstOrDefault().CategoryId" class="modalAddCard col-lg-4 col-md-12 col-sm-12 col-xs-12 fetchAddToCardModal">
                            ADD TO CARD
                        </a>
                    </div>
                }
                else
                {
                    <div class="modalButton">
                        <a style="text-decoration:none;" asp-controller="account" asp-action="login" class="modalAddCard col-lg-4 col-md-12 col-sm-12 col-xs-12 fetchAddToCardModal">
                            LOGIN
                        </a>
                    </div>
                }
            </div>
            <div class="modalViewFullDetails">
                <a asp-controller="products" asp-action="details" asp-route-id="@product.Product.Id" asp-route-categoryId="@product.Product.ProductCategories.FirstOrDefault().CategoryId">View full details <i class="las la-long-arrow-alt-right"></i></a>
            </div>
            <div class="modalClose">
                <i class="las la-times"></i>
            </div>
        </div>
    </div>
</div>
    }
    <p id="whishlistTotalCountFetch" style="display:none">@whishlist.WhishlistItems.Count</p>

}
