<!doctype html>
<html lang="en">

<!-- Mirrored from bhulua.thememinister.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:06:42 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>Gecko-Admin Panel</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/dist/img/favicon.png">
    <!--Global Styles(used by all pages)-->
    @RenderSection("AdminCSS", required: false)
    <link href="~/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/admin/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Third party Styles(used by this page)-->
    <link href="~/admin/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--Start Your Custom Style Now-->
    <link href="~/admin/assets/dist/css/style.css" rel="stylesheet">
</head>
<body class="fixed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav class="sidebar sidebar-bunker">
            <div class="sidebar-header">
                <!--<a href="index.html" class="logo"><span>bd</span>task</a>-->
                <a asp-controller="dashboard" asp-action="index" class="logo"><img style="width:140px;height:20px;" src="~/assets/images/Logo-img_38c63be0-fb31-4328-b860-cedd88ea4232_225x.webp" alt=""></a>
            </div><!--/.sidebar header-->
            <div class="profile-element d-flex align-items-center flex-shrink-0">
                <div class="profile-text">
                    @if (User.Identity.Name == "Camal123")
                    {
                        <h6 class="mx-0">Super Admin: @User.Identity.Name</h6>
                    }
                    else
                    {
                        <h6 class="mx-0">Admin: @User.Identity.Name</h6>
                    }
                </div>
            </div>
            <div class="sidebar-body">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="nav-label">Main Menu</li>
                        <li class="mm-active">
                            <a asp-controller="dashboard" asp-action="index" class=" material-ripple">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow material-ripple" href="#">
                                <i class="bi bi-book" style="margin-right:7px;"></i>

                                Controllers
                            </a>
                            <ul class="nav-second-level">
                                <li><a asp-controller="size" asp-action="index">Size</a></li>
                                <li><a asp-controller="color" asp-action="index">Color</a></li>
                                <li><a asp-controller="category" asp-action="index">Category</a></li>
                                <li><a asp-controller="tag" asp-action="index">Tag</a></li>
                                <li><a asp-controller="brand" asp-action="index">Brand</a></li>
                                <li><a asp-controller="slider" asp-action="index">Slider</a></li>
                                <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                                <li><a asp-controller="footersocial" asp-action="index">Social media</a></li>
                                <li><a asp-controller="setting" asp-action="index">Setting</a></li>
                                <li><a asp-controller="campaign" asp-action="index">Campaign</a></li>
                                <li><a asp-controller="product" asp-action="index">Product</a></li>
                                <li><a asp-controller="usermanagment" asp-action="index">User managment</a></li>
                                <li><a asp-controller="contactmessage" asp-action="index">User messages</a></li>
                                <li><a asp-controller="order" asp-action="index">Orders</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div><!-- sidebar-body -->
        </nav>
        <div class="content-wrapper">
            <div class="main-content">
                <nav class="navbar-custom-menu navbar navbar-expand-lg m-0">
                    <div class="sidebar-toggle-icon" id="sidebarCollapse">
                        sidebar toggle<span></span>
                    </div><!--/.sidebar toggle icon-->
                    <div class="d-flex flex-grow-1">
                        <ul class="navbar-nav flex-row align-items-center ml-auto">
                            <li style="margin-left:20px;">
                                <a style="font-size:20px;" asp-controller="account" asp-action="logout"><i class="bi bi-box-arrow-left"></i></a>
                            </li>
                        </ul><!--/.navbar nav-->
                        <div class="nav-clock">
                            <div class="time">
                                <span class="time-hours"></span>
                                <span class="time-min"></span>
                                <span class="time-sec"></span>
                            </div>
                        </div><!-- nav-clock -->
                    </div>
                </nav> <!--/.navbar-->
                <div>
                    @RenderBody()
                </div>
            </div>
            <div class="overlay"></div>
        </div>

    </div>
    @*<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/admin/assets/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/admin/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->
        <script src="~/admin/assets/plugins/sparkline/sparkline.min.js"></script>
        <script src="~/admin/assets/plugins/datatables/dataTables.min.js"></script>
        <script src="~/admin/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="~/admin/assets/dist/js/pages/dashboard.js"></script>
    <!--Page Scripts(used by all page)-->
    @RenderSection("AdminScripts", required: false)
    <script src="~/admin/assets/dist/js/sidebar.js"></script>
</body>

<!-- Mirrored from bhulua.thememinister.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:07:41 GMT -->
</html>
