@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<section id="registerSection">
    <div class="container">
        <div class="row registerRow">
            <div id="registerPage">
                <div class="registerForm">
                    <div class="registerTxt-closeIcon">
                        <span class="registerTxt">REGISTER</span>
                    </div>
                    <div class="registerInputArea">
                        <div class="text text-danger mb-4" asp-validation-summary="ModelOnly"></div>
                        <form id="registerTypeForm" method="post">
                            <label asp-for="@Model.Name">Name <span>*</span></label><br>
                            <input asp-for="@Model.Name"><br><br>
                            <span style="margin-bottom:5px;display:inline-block" class="text text-danger" asp-validation-for="@Model.Name"></span><br />
                            <label asp-for="@Model.Surname">Surname <span>*</span></label><br>
                            <input asp-for="@Model.Surname"><br><br>
                            <span style="margin-bottom: 5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.Surname"></span><br />
                            <label asp-for="@Model.Username">Username <span>*</span></label><br>
                            <input asp-for="@Model.Username"><br><br>
                            <span style="margin-bottom:5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.Username"></span><br />
                            <label asp-for="@Model.Email">Email <span>*</span></label><br>
                            <input asp-for="@Model.Email"><br><br>
                            <span style="margin-bottom: 5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.Email"></span><br />
                            <label asp-for="@Model.TelephoneNumber">Telephone number <span>*</span></label><br>
                            <input asp-for="@Model.TelephoneNumber"><br><br>
                            <span style="margin-bottom: 5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.TelephoneNumber"></span><br />
                            <label asp-for="@Model.Age">Age <span>*</span></label><br>
                            <input asp-for="@Model.Age"><br><br>
                            <span style="margin-bottom: 5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.Age"></span><br />
                            <label asp-for="@Model.Password">Password <span>*</span></label><br>
                            <input asp-for="@Model.Password"><br><br>
                            <span style="margin-bottom: 5px; display: inline-block" class="text text-danger" asp-validation-for="@Model.Password"></span><br />
                            <label asp-for="@Model.ConfirmPassword">Confirm password <span>*</span></label><br>
                            <input asp-for="@Model.ConfirmPassword"><br><br>
                            <span style="margin-bottom: 15px; display: inline-block" class="text text-danger" asp-validation-for="@Model.ConfirmPassword"></span><br />
                            <button type="submit">REGISTER</button>
                        </form>
                    </div>
                    <p class="logP">Already have an account? <a class="goLogin" asp-controller="account" asp-action="login">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

